project/src/main/mule/project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b26de29d-922c-4b2e-af3d-a6c7e5835e6c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="projectFlow" doc:id="c0012c18-9deb-40c6-84a2-1c9a4e891625" >
		<http:listener doc:name="Listener" doc:id="71b6c304-b0a0-46a5-8572-08bf2cb87196" config-ref="HTTP_Listener_config" path="project"/>
		<set-variable value="#[uuid()]" doc:name="Set Variable" doc:id="3cf0bbf2-812e-4cd1-962e-230bb3fa064a" variableName="Correlationid" />
		<logger level="INFO" doc:name="Logger" doc:id="bb758fd9-4f90-4dfa-9679-107c3637e520" message="Correlationid-#[vars.Correlationid]"/>
		<ee:transform doc:name="Transform Message" doc:id="fe4d9cb9-d8a0-41d7-91ff-26035c6b5a5b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
value : payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dce6a012-86f2-479b-93c7-02896622a35d" message="Correlationid payload to xml-#[payload]"/>
	</flow>
</mule>
